# Exercício 1 (Etapa 1): Examinando o Anaconda e familiarizando-se com o Python
# loop:

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

# Criar um dicionário

In [5]:
example_dict = {'apples': 5, 'oranges': 8, 'bananas': 13}
print(example_dict)

{'apples': 5, 'oranges': 8, 'bananas': 13}

# Converter dicionário em lista

In [6]:
dict_to_list = list(example_dict)
print(dict_to_list)

['apples', 'oranges', 'bananas']

# saída:

In [7]:
['apples', 'oranges', 'bananas']

['apples', 'oranges', 'bananas']

# Exercício 2 (Etapa 2): Carregando os dados do estudo de caso com o Jupyter e o pandas.

# Jupyter Notebook - Leandro matos
Esta é uma atividade de introdução ao Python.

In [1]:
import pandas as pd

In [3]:
import os
print(os.getcwd())  # Mostra o diretório atual

C:\Users\leandropc

In [4]:
df = pd.read_excel('default_of_credit_card_clients__courseware_version_1_21_19.xls')

In [5]:
print(df)  # Exibe todo o DataFrame

                  ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE PAY_1  PAY_2  \
0      798fc410-45c1      20000    2          2         1   24     2      2
1      8a8c8f3b-8eb4     120000    2          2         2   26    -1      2
2      85698822-43f5      90000    2          2         2   34     0      0
3      0737c11b-be42      50000    2          2         1   37     0      0
4      3b7f77cc-dbc0      50000    1          2         1   57    -1      0
...              ...        ...  ...        ...       ...  ...   ...    ...
29995  ecff42d0-bdc6     220000    1          3         1   39     0      0
29996  99d1fa0e-222b     150000    1          3         2   43    -1     -1
29997  95cdd3e7-4f24      30000    1          2         2   37     4      3
29998  00d03f02-04cd      80000    1          3         1   41     1     -1
29999  15d69f9f-5ad3      50000    1          2         1   46     0      0

       PAY_3  PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
0         -1     -1  ...          0          0          0         0       689
1          0      0  ...       3272       3455       3261         0      1000
2          0      0  ...      14331      14948      15549      1518      1500
3          0      0  ...      28314      28959      29547      2000      2019
4         -1      0  ...      20940      19146      19131      2000     36681
...      ...    ...  ...        ...        ...        ...       ...       ...
29995      0      0  ...      88004      31237      15980      8500     20000
29996     -1     -1  ...       8979       5190          0      1837      3526
29997      2     -1  ...      20878      20582      19357         0         0
29998      0      0  ...      52774      11855      48944     85900      3409
29999      0      0  ...      36535      32428      15313      2078      1800

       PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
0             0         0         0         0                           1
1          1000      1000         0      2000                           1
2          1000      1000      1000      5000                           0
3          1200      1100      1069      1000                           0
4         10000      9000       689       679                           0
...         ...       ...       ...       ...                         ...
29995      5003      3047      5000      1000                           0
29996      8998       129         0         0                           0
29997     22000      4200      2000      3100                           1
29998      1178      1926     52964      1804                           1
29999      1430      1000      1000      1000                           1

[30000 rows x 25 columns]

In [9]:
df.head()  # exibir as 5 primeiras linhas

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [10]:
# 1 Saber quantas colunas os dados contêm
num_colunas = df.shape[1]
print(f"O DataFrame tem {num_colunas} colunas.")

O DataFrame tem 25 colunas.

In [12]:
# 2 Quantas linhas (amostras) os dados têm?
num_linhas = df.shape[0]
print(f"O DataFrame tem {num_linhas} linhas.")

O DataFrame tem 30000 linhas.

In [13]:
# 3 Identificar tipos de características (categóricas e numéricas)
tipos_de_dados = df.dtypes
print("Tipos de dados das colunas:")
print(tipos_de_dados)

Tipos de dados das colunas:
ID                            object
LIMIT_BAL                      int64
SEX                            int64
EDUCATION                      int64
MARRIAGE                       int64
AGE                            int64
PAY_1                         object
PAY_2                          int64
PAY_3                          int64
PAY_4                          int64
PAY_5                          int64
PAY_6                          int64
BILL_AMT1                      int64
BILL_AMT2                      int64
BILL_AMT3                      int64
BILL_AMT4                      int64
BILL_AMT5                      int64
BILL_AMT6                      int64
PAY_AMT1                       int64
PAY_AMT2                       int64
PAY_AMT3                       int64
PAY_AMT4                       int64
PAY_AMT5                       int64
PAY_AMT6                       int64
default payment next month     int64
dtype: object

In [14]:
# Se quiser separar os tipos:
colunas_numericas = df.select_dtypes(include=['number']).columns
colunas_categoricas = df.select_dtypes(include=['object']).columns

print(f"Colunas numéricas: {list(colunas_numericas)}")
print(f"Colunas categóricas: {list(colunas_categoricas)}")

Colunas numéricas: ['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default payment next month']
Colunas categóricas: ['ID', 'PAY_1']

In [15]:
# 4 Examinar a aparência dos dados / Para colunas numéricas (intervalo de valores):
print("Resumo estatístico das colunas numéricas:")
print(df.describe())  # Mostra média, desvio padrão, mínimo, máximo etc.

Resumo estatístico das colunas numéricas:
            LIMIT_BAL           SEX     EDUCATION      MARRIAGE           AGE  \
count    30000.000000  30000.000000  30000.000000  30000.000000  30000.000000
mean    165760.989333      1.586500      1.833333      1.535900     35.108800
std     130158.590432      0.513348      0.807699      0.542698      9.851592
min          0.000000      0.000000      0.000000      0.000000      0.000000
25%      50000.000000      1.000000      1.000000      1.000000     28.000000
50%     140000.000000      2.000000      2.000000      2.000000     34.000000
75%     240000.000000      2.000000      2.000000      2.000000     41.000000
max    1000000.000000      2.000000      6.000000      3.000000     79.000000

              PAY_2         PAY_3         PAY_4         PAY_5         PAY_6  \
count  30000.000000  30000.000000  30000.000000  30000.000000  30000.000000
mean      -0.132867     -0.164333     -0.219300     -0.263900     -0.288033
std        1.191215      1.191096      1.162348      1.127519      1.144981
min       -2.000000     -2.000000     -2.000000     -2.000000     -2.000000
25%       -1.000000     -1.000000     -1.000000     -1.000000     -1.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      0.000000      0.000000
max        8.000000      8.000000      8.000000      8.000000      8.000000

       ...      BILL_AMT4      BILL_AMT5      BILL_AMT6       PAY_AMT1  \
count  ...   30000.000000   30000.000000   30000.000000   30000.000000
mean   ...   42791.362167   39884.398167   38480.350933    5613.321500
std    ...   64090.316188   60606.644833   59406.836932   16539.094312
min    ... -170000.000000  -81334.000000 -339603.000000       0.000000
25%    ...    2034.000000    1534.000000    1080.000000     836.000000
50%    ...   18759.500000   17835.500000   16643.000000    2084.500000
75%    ...   53572.250000   49804.000000   48863.500000    5000.000000
max    ...  891586.000000  927171.000000  961664.000000  873552.000000

           PAY_AMT2       PAY_AMT3       PAY_AMT4       PAY_AMT5  \
count  3.000000e+04   30000.000000   30000.000000   30000.000000
mean   5.855410e+03    5174.387967    4776.089733    4754.749200
std    2.299256e+04   17565.538305   15532.893047   15239.070708
min    0.000000e+00       0.000000       0.000000       0.000000
25%    7.217500e+02     371.000000     223.000000     170.750000
50%    2.000000e+03    1776.000000    1500.000000    1500.000000
75%    5.000000e+03    4500.000000    4000.000000    4000.000000
max    1.684259e+06  896040.000000  621000.000000  426529.000000

            PAY_AMT6  default payment next month
count   30000.000000                30000.000000
mean     5164.223267                    0.218733
std     17712.664703                    0.413394
min         0.000000                    0.000000
25%         9.000000                    0.000000
50%      1500.000000                    0.000000
75%      4000.000000                    0.000000
max    528666.000000                    1.000000

[8 rows x 23 columns]

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4